@use './abstracts' as *;
@use './base/reset';
@use './components/buttons';
@use './components/loadings';
@use './components/formularios';

body {
  font-family: $font-family-base;
  background-color: $background-color;
  color: white;
}

a, li, ul {
  list-style: none;
  text-decoration: none;
  color: $default-color;
}

.align-mobile-containers {
  margin: $margin-items-mobile;
}