@use './abstracts' as *;
@use './base/reset';
@use './components/buttons';
@use './components/loadings';

body {
  font-family: $font-family-base;
  background-color: $background-color;
  color: white;
}

.align-mobile-containers {
  margin: $margin-items-mobile;
}