.menuContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 50px;
    border-radius: 10px 10px 0 0;
    background: rgb(56, 49, 58);
}

.menuButton {
    background: transparent;
    border: none;
    cursor: pointer;

    img {
        width: 23px;
        height: 23px;
    }
}