@use "../abstracts/mixin" as *;
@use "../abstracts/variables" as *;

.loading-box-professional {
    @include loading-box (
        150px,
        150px,
        $background-items,
        $background-loading-gradient,
        10px
    )
}

.container-flex-professionals {
    display: flex;
    gap: 10px;
    overflow: hidden;
}