@use "@styles/abstracts" as *; // Importa tudo de uma vez


.container {
  h1 {
    @include typography(
      $size: (24px, 32px),
      $color: $primary-color,
      $font-weight: 700,
      $line-height: 1.2
    );
  }

}