@font-face {
  font-family: 'Roboto Flex';
  src: url('../../assets/fonts/RobotoFlex-Regular.woff2') format('woff2');
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap; // Evita FOIT (Flash of Invisible Text)
}