// colors
$default-color-enfase: #CCA76A;
$default-color: #FFFFFF;
$font-color-gray: #CFCFCF;
$background-items: #2B2B2B;
$background-selected-item: #352F48;
$background-loading-gradient: #464646;
$app-5: #9784FF;
$background-color: #171717;

// hover
$bg-color-hover: #555555;
$bg-transition: all 0.5s ease-out;

// font
$default-size-min: 16px;// Mínimo (mobile)
$default-size-max: 24px;// Máximo (para telas maiores, mesmo sem desktop)

//family
$font-family-base: 'Roboto Flex', sans-serif;

//line-height
$default-line-height: 1.5;

//weight
$default-font-weight: 400;
$default-font-weight-title: bold;

//letter-spacing
$default-letter-spacing: normal;

//text-transform
$default-text-transform: none;

//viewport
$default-vw-size: 1.5vw;

// Margin-mobile 
$margin-items-mobile: 0 20px;
