// colors
$default-color-enfase: #CCA76A;
$default-color: #FFFFFF;
$font-color-gray: #CFCFCF;
$background-items: #282538;
$app-5: #9784FF;
$app-6: #171717;

// font
$default-size-min: 16px;// Mínimo (mobile)
$default-size-max: 24px;// Máximo (para telas maiores, mesmo sem desktop)

//family
$font-family-base: 'Roboto Flex', sans-serif;

//line-height
$default-line-height: 1.5;

//weight
$default-font-weight: 400;
$default-font-weight-title: bold;

//letter-spacing
$default-letter-spacing: normal;

//text-transform
$default-text-transform: none;

//viewport
$default-vw-size: 1.5vw;
