@use '@/styles/abstracts/variables' as *;

.containerSelectDay {
    background-color: $background-items;
    padding: 25px 20px;
}

.controls {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 0 25px;
    width: 80vw;

    h3 {
        color: $font-color-gray;
        font-size: clamp(18px, 2.5vh, 1.5rem);
    }

    img {
        width: 9px;
    }

    :first-child {
        rotate: 180deg;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 10px;

        :hover {
            background-color: green;
        }
    }
}

.containerDays {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    overflow: hidden;
    transition: margin-right 2s;

     .selectedItem {
            background-color: $default-color-enfase;
            color: white !important;
            border-radius: 50px;
        }

    div {
        width: 35px;
        cursor: pointer;

        p {
            transition: all 0.5s ease-out;
        }
        
        :first-child {
            padding: 0 0 10px;
            font-size: clamp(0.8rem, 1vh, 1rem);
        }
        
        :last-child {
            font-weight: bolder;
            font-size: 18px;
            color: $font-color-gray;
            width: 32px;
            height: 32px;
            align-content: center;
            justify-self: center;
        }
    }
}