.signup-container {
    width: 393px;
    height: 852px;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente os itens */
    justify-content: center; /* Centraliza verticalmente os itens */
    background-color: #171717;
    margin: 0 auto; /* Centraliza o container na página */
    position: relative; /* Necessário para posicionar o ícone de voltar */
}

/*Arrow*/
.back-icon {
    position: absolute;
    top: 50px;
    left: 20px; /* Posiciona à esquerda do container */
    color: #FFFFFF; 
    font-size: 24px;
    cursor: pointer;
}

.signup-container h1 {
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #CBA66A;
    text-align: center; /* Garante que o texto do h1 fique centralizado */
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%; /* Ocupa toda a largura do container */
    max-width: 350px; /* Define uma largura máxima para o formulário */
}

/* O restante do CSS permanece igual */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.input-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-42%);
    color: #777;
    font-size: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
}

.email-phone {
    display: flex;
    align-items: center;
    gap: 5px;
}

.email-phone input {
    flex: 1;
}

.email-phone input:first-child {
    flex: 2;
}

.divider {
    color: #999;
    font-size: 14px;
}

.divider-line {
    height: 1px;
    background-color: #eee;
    margin: 15px 0;
}

.create-button {
    background-color: #CCA76A;
    color: #4A4444;
    padding: 12px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 40px; /* Reduzi a margem superior para ficar mais próximo do formulário */
    width: 100%;
    max-width: 350px;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

#phone {
    background-image: url('../../assets/bandeira.png');
    background-repeat: no-repeat;
    background-position: 20px center; 
    background-size: 1.3em;
    padding-left: 3.5em; 
    position: relative; 
    background-position: 20px center; 
    padding-left: 5em;
}

#phone::before {
    content: "+55";
    position: absolute;
    left: 3em; 
    top: 50%;
    transform: translateY(-50%);
    color: white; 
    pointer-events: none; 
}